<h1 align="center"> welcome for shopping</h1>

<table border="1" width="90%" align="center">

  <tr><td>
        <table border="1" width="100%">
      <tr>
        <td>
            <ul>
                <li>
                  <a routerLink="shopping/add" routerLinkActive="active">
                    Insert Book
                  </a>
                </li>
                <li>
                  <a routerLink="shopping/display" routerLinkActive="active">
                    Show Books
                  </a>
                </li> 
              </ul>
              
        </td>
        <td width="70%">
          
            <router-outlet></router-outlet>
        </td>
        <td> </td>
      </tr>
    </table>
  </td></tr>
 
</table>
